/* Import reset.css */
@import "../CSS/reset.css";

/* Fonts */
@font-face {
    font-family: Roboto;
    src: url(../Fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-display: swap; 
}

@font-face {
    font-family: RobotoMedium;
    src: url(../Fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: RobotoBold;
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-display: swap;
}

/* Clear */
.clear {
    clear: both;
}

/* Colors */
:root {
    --main-green: #026667;
    --dark-green: #0D5457;
    --light-blue: #7DFEFF;
    --main-blue: #00BFC1;
    --main-black: #222;
    --second-dark: #25262E;
    --trim-color: #333;
    --text-color: #eee;
    --text-dark: #7E7E7E;
    --full-dark: #000;
}

/* General */
*{
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Roboto;
    direction: ltr;
    background: linear-gradient(to top, var(--second-dark), var(--main-green));
}

.container {
    width: 1500px;
    margin: auto;
}

/* Header */ 
header {
    height: 80px;
    position: sticky;
    top: 0;
    background-color: var(--main-green);
    box-shadow: 0 1px 20px 0 var(--full-dark);
    z-index: 1;
}

header .container{
    margin: 0 auto;
    height: 100%;
}

header #nav {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

header #nav .logo {
    width: 6%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #nav .logo img {
    width: 90px;
}

header #nav ul {
    margin-left: 60px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

header #nav ul li {
    margin-right: 30px;
}

/* Links Styles */
header #nav ul li a {
    align-items: center;
    justify-content: center;
    border-bottom: 0.14rem solid rgba(0,0,0,0);
    color: var(--text-dark);
    font-size: 19px;
    text-decoration: none;
    position: relative;
    padding: 5px 15px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

/* a border-bottom animation */
li#nav > a,
li > a:hover {
  background-color: transparent;
  color: #fff;
}

li > a:after {
  content: '';
  position: absolute;
  top: 1.74em;
  left: 0;
  width: 100%;
  height: 0.15rem;
  transform: scaleX(0);
  background-color: var(--text-color);
  opacity: 0.9;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}


li#nav > a:after,
li > a.active::after {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

header #nav ul li a:hover {
    color: var(--light-blue);
    text-shadow: 0 0 2px var(--light-blue);

}

header #nav ul li a svg {
    font-size: 17px;
    margin-right: 10px;
}

header #nav ul li a.active {
    color: var(--text-color);
    text-shadow: 0 0 3px rgba(0,0,0,0.6);
}

/* Progressbar */
header .progress {
    width: 100%;
    height: 5px;
    background-color: var(--dark-green);
}

header .progress .progress-bar {
    width: 0;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background: var(--text-color);
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
}


/* General Sections style */
section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--text-color);
}


/*****************************! Sections !******************************/

/* Welcomer section */
#welcomer-holder {
    background-image: url('../Images/mainpattern2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#welcomer-holder .title-holder{
    position: absolute;
    top: 35%;
    left: 16%;
    transform: translateX(-550px) rotate(180deg);
    -webkit-transform: translateX(-550px) rotate(180deg);
    -moz-transform: translateX(-550px) rotate(180deg);
    -ms-transform: translateX(-550px) rotate(180deg);
    -o-transform: translateX(-550px) rotate(180deg);
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

#welcomer-holder .title-holder.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0) rotate(0);
    -webkit-transform: translateX(0) rotate(0);
    -moz-transform: translateX(0) rotate(0);
    -ms-transform: translateX(0) rotate(0);
    -o-transform: translateX(0) rotate(0);
}

#welcomer-holder .title-holder{
    position: absolute;
    top: 35%;
    left: 16%;
}

#welcomer-holder .title {
    font-family: RobotoMedium;
    color: #fff;
    position: relative;
    font-size: 90px;
    text-shadow: #000000 2px 2px 4px;
} .title:hover {
    cursor: default;
} #welcomer-holder .title::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 0.2rem solid var(--text-color);
    width: 100%;
}

#nfts-holder {
    /* background-color: yellow; */
}

#aboutus-holder{
    /* background-color: blue; */
}

#shop-holder {
    /* background-color: green; */
}

@media screen and (max-width: 1540px){
    .container {
        width: 1100px;
    }
}